@import "./variables.scss";

.slider_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 15px 0;
  background: #182438;
  // visibility: hidden;
}

.slider_wrap::-webkit-scrollbar {
  width: 0;
}

.slider_content_container {
  height: 90px;
  min-width: 300px;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
}

.slider_strip {
  position: absolute;
  height: 70px;
  top: 10px;
  display: flex;
}

.slider_strip_card {
  margin: 0 50px;
}

.slider_rounds {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_round {
  width: 13px;
  height: 13px;
  margin: 10px 5px;
  background: #fff;
  border-radius: 50%;
}

.slider_round_active {
  background: #044f9c;
}

// @media screen and(max-width: 900px) {
//   .slider_wrap {
//     visibility: visible;
//   }
// }
