$header-height: 72px;
$sidebar-width: 350px;
$body-background: #193049;
$sidebar-header-height: 120px;
$sidebar-window-height: 500px;
$content-card-width: 180px;
$content-card-height: 64px;
$menu-bg: #182438;
